<%- include("header.ejs", {style:"index"}) %>

<div class="nav">
    <h1 class="heading">WORKSPACES</h1>
    <p class="first-name"><%= firstName %></p>
    <div class="account-info">
        <p class="full-name"><%= firstName + ' ' + lastName %></p>
        <p><%= email %></p>
        <button type="button" class="btn btn-danger">Log Out</button>
    </div>
</div>

<div class="overlay"></div>

<div class="add-workspace-modal">
    <i class="fa-regular fa-circle-xmark close-forms"></i>
    <h4>Create Workspace</h4>
    <div class="underline"></div>
    <form class="create-workspace-form">
        <label for="workspaceName" class="form-label">Workspace Name</label>
        <input type="text" name="workspaceName" class="form-control create-workspace-textbox" id="workspaceName" aria-describedby="addWorkspaceHelp" maxlength="100">
    
        <label for="addMembers">Add Members (comma separated emails)</label>
        <textarea id="addMembers" name="members" class="form-control user-comment" placeholder="example1@gmail.com, example2@gmail.com, ..."></textarea>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<div class="workspace-edit-menu">
    <i class="fa-regular fa-circle-xmark close-forms"></i>
    <form class="update-workspace-name-form">
    <div class="mb-3">
        <label for="updateName" class="form-label">Update Name</label>
        <input type="text" name="updateName" class="form-control" id="updateName" required>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
    </form>
    
    <form class="delete-workspace-form">
    <div class="mb-3">
        <label for="deleteWorkspace" class="form-label">Delete Workspace</label>
        <input type="text" name="deleteInput" class="form-control" id="deleteWorkspace" aria-describedby="deleteHelp">
        <div id="deleteHelp" class="form-text">type delete, then press delete button for workspace deletion</div>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

<ul class="list-group container">
    <li class="list-group-item add-workspace-button"><i class="fa-solid fa-plus"></i></li>
    <% for (let i = 0; i < workspaces.length; i++) { %>
        <li class="list-group-item items" data-workspace-id=<%= workspaces[i].id %>>
            <p class="company-name"><%= `${i+1}.   ` + workspaces[i].title %></p>
            <div>
                <span class="badge text-bg-primary rounded-pill"><%if (workspaces[i].pending) {%> <%= workspaces[i].pending %> <% } %></span>
                <button type="button" class="btn edit-btn"><i class="fa-solid fa-pen-to-square edit-icon"></i></button>
            </div>
        </li>
    <% } %>
</ul>

<%- include("footer.ejs", {script:"index"}) %> 
