<%- include("header.ejs", {style:"rounds"}) %>

<div class="overlay"></div>

<div class="create-round">
  <i class="fa-regular fa-circle-xmark close-forms"></i>
  <form action="/workspace/<%= workspaceId %>/rounds" method="post" class="create-round-form" enctype="multipart/form-data">
    <h4>Create Approval Round</h4>
    <div class="underline"></div>
    <div class="create-round-div1">
      <div class="mb-3">
          <label for="messageTitle" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="messageTitle" placeholder="Enter the title" maxlength="255">
        </div>

        <div class="mb-3">
          <label for="messageSubject" class="form-label">Subject</label>
          <input type="text" name="subject" class="form-control" id="messageSubject" placeholder="Enter the subject" maxlength="255">
        </div>

        <div class="mb-3">
          <label for="messageBody" class="form-label">Body</label>
          <textarea class="form-control" name="body" id="messageBody" rows="5" placeholder="Write your message here..."></textarea>
        </div>

        <div class="mb-3">
          <label for="fileAttachment" class="form-label">Attach a file</label>
          <input name="fileAttachment" class="form-control" type="file" id="fileAttachment" multiple>
        </div>
    </div>
    <div class="create-round-div2">
      <button type="button" class="btn btn-primary add-level">Add Level</button>
      <div class="create-level-container" id="level-1">
        <div class="create-level-header">
          <h5>Level 1</h5>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1a" value="series" checked>
              <label class="form-check-label" for="inlineRadio1a">series</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1b" value="parallel (any)">
              <label class="form-check-label" for="inlineRadio1b">parallel (any)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1c" value="parallel (all)">
              <label class="form-check-label" for="inlineRadio1c">parallel (all)</label>
            </div>
            <button type="button" class="btn btn-danger btn-sm delete-level"><i class="fa-regular fa-trash-can"></i></button>
          </div>
        </div>
        <label for="addMembers1" class="form-label">Members (comma separated emails)</label>
        <input type="text" name="addMembers1" class="form-control add-members-textbox" id="addMembers1" aria-describedby="addLevelHelp" placeholder="example1@gmail.com, example2@gmail.com, ...">
      </div>
    </div>
    <button type="submit" class="btn btn-success submit-create-round">Submit</button>
  </form>
</div>

<div class="round-box">
  <i class="fa-regular fa-circle-xmark close-forms"></i>
  <h4 class="round-name"></h4>
  <div class="underline"></div>
  <div class="header-buttons-div">
    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
      <button type="button" class="btn btn-info round-header-button">Add Level</button>
      <button type="button" class="btn btn-info round-header-button">Add Node</button>
    </div>
    <button type="button" class="btn btn-danger round-delete-button">DELETE ROUND</button>
  </div>
  <div class="levels-container">
  </div>
</div>

<div class="approval-box">
  <i class="fa-regular fa-circle-xmark close-forms"></i>
  <h4 class="approval-title"></h4>
  <p class="text-muted subject"></p>
  <p class="text-muted initiated-by"></p>
  <div class="underline"></div>

  <div class="body"></div>

  <h5>Attachments</h5>
  <ul class="list-group attachments-container"></ul>

  <h5>Comments</h5>
  <div class="comments-div">
    <textarea class="form-control user-comment" placeholder="Write a comment..."></textarea>
    <button type="button" class="btn post-button">Post</button>
    <ul class="comments-container"></ul>
  </div>

</div>

<div class="toolbar">
    <div class="filter btn-group">
        <input type="radio" class="btn-check" name="filter1" id="all1" autocomplete="off" checked>
        <label class="btn select-radios" for="all1">All</label>
        
        <input type="radio" class="btn-check" name="filter1" id="yours" autocomplete="off">
        <label class="btn select-radios" for="yours">Yours</label>
        
        <input type="radio" class="btn-check" name="filter1" id="others" autocomplete="off">
        <label class="btn select-radios" for="others">Others</label>
    </div>

    <div class="filter btn-group">
        <input type="radio" class="btn-check" name="filter2" id="all2" autocomplete="off" checked>
        <label class="btn select-radios" for="all2">All</label>
        
        <input type="radio" class="btn-check" name="filter2" id="approved" autocomplete="off">
        <label class="btn select-radios" for="approved">Approved</label>
        
        <input type="radio" class="btn-check" name="filter2" id="pending" autocomplete="off">
        <label class="btn select-radios" for="pending">Pending</label>

        <input type="radio" class="btn-check" name="filter2" id="rejected" autocomplete="off">
        <label class="btn select-radios" for="rejected">Rejected</label>
    </div>
</div>

<ul class="list-group container" data-workspace-id="<%= workspaceId %>">
  <li class="list-group-item add-rounds-button"><i class="fa-solid fa-plus plus-icon"></i></li>
  <% approvalRounds.forEach((round) => { %>
    <li class="list-group-item items" data-round-id="<%= round.id %>">
      
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= round.name %></h5>
        
        <small class="text-body-secondary">
          <%= round.createdAt %>
        </small>
      </div>
      
      <p class="mb-1">
        <% if (round.status === 'approved') { %>
            <span class="badge rounded-pill bg-success bg-opacity-10 text-success px-3 py-2 fw-semibold">Approved</span>
        <% } else if (round.status === 'pending') { %>
            <span class="badge rounded-pill bg-warning bg-opacity-10 text-warning px-3 py-2 fw-semibold">Pending</span>
        <% } else if (round.status === 'rejected') { %>
            <span class="badge rounded-pill bg-danger bg-opacity-10 text-danger px-3 py-2 fw-semibold">Rejected</span>
        <% } %>
      </p>

      <div class="item-footer">
        <small class="text-body-secondary">
            Initiated by: <%= round.author %>
        </small>
        <button type="button" class="btn btn-outline-primary btn-sm view-approval-button">View Approval</button>
      </div>
    </li>
  <% }); %>
</ul>

<script src="https://cdn.jsdelivr.net/npm/jsplumb@2.15.6/dist/js/jsplumb.min.js"></script>

<%- include("footer.ejs", {script:"rounds"}) %> 