<%- include("header.ejs", {style:"workspace"}) %>

<div class="overlay"></div>

<div class="approval-box">
  <i class="fa-regular fa-circle-xmark close-forms"></i>
  <h4 class="approval-title"></h4>
  <p class="text-muted subject"></p>
  <p class="text-muted initiated-by"></p>
  <div class="underline"></div>

  <div class="body"></div>
  
  <h5>Attachments</h5>
  <ul class="list-group attachments-container"></ul>

  <h5>Comments</h5>
  <div class="comments-div">
    <textarea class="form-control user-comment" placeholder="Write a comment..."></textarea>
    <button type="button" class="btn post-button">Post</button>
    <ul class="comments-container"></ul>
  </div>
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger reject-btn" data-bs-toggle="popover">Reject</button>
    <button type="button" class="btn btn-success approve-btn">Approve</button>
  </div>

</div>

<ul class="list-group container" data-workspace-id="<%= workspaceId %>">
  <% pendingApprovals.forEach((approval) => { %>
    <li class="list-group-item items" data-approval-id="<%= approval.id %>">
      
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= approval.title %></h5>
        
        <small class="text-body-secondary">
          <%= approval.timeAgo%>
        </small>
      </div>
      
      <p class="mb-1"><%= approval.subject %></p>
      
      <small class="text-body-secondary">
        Initiated by: <%= approval.author %>
      </small>
      
    </li>
  <% }); %>
</ul>

<%- include("footer.ejs", {script:"workspace"}) %> 
